{
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "tabWidth": 4,
    "semi": true,
    "endOfLine": "lf",
    "printWidth": 160,
    "bracketSpacing": true
}
